/* ==========================================================================
 * ELEMENTS
 * Elements repeatable throughout the whole page
========================================================================== */




/* SVG sprites, icons
========================================================================== */


.icon {
    fill: $contrastColor;
    height: 3.6875rem;
    max-width: 100%;
    width: auto;

    &__description {
        display: block;
        font-size: 1rem;
        line-height: 1.125rem;
        padding-top: 0.5625rem;
    }
}


/* Speech bubbles
========================================================================== */


.bubble {
    border-radius: 1.875rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0.675rem 0;
    max-width: 77.19%;
    padding: 1.2rem 1.25rem 1.05rem 1.25rem;

    &--big {
        border-radius: 2.5rem;
        padding: 1.6rem 1.25rem 2rem 1.875rem;
    }

    &__paragraph {
        font-size: 1rem;
    }

    span {
        font-family: "Avenir Next Bold";
    }
}


/*
 * Adds a tail to the element
 */


.tail {
    clear: both;
    position: relative;

    &::before {
        border-width: 2.5rem;
        content: "";
        display: block;
        position: absolute;
    }

    @each $v, $i in $sidesVertical {
        @each $h, $j in $sidesHorizontal {
            &--#{$v}-#{$h} {
                border-#{$v}-#{$h}-radius: 0;
                float: #{$h};

                /* Borders for older browsers */

                &::before {
                    background-image: linear-gradient(to #{$h}, rgba(0, 0, 0, 0.2), transparent);
                    border-#{$h}: 2.5rem solid $bubbleDarkColor;
                    border-#{$v}: 2.5rem solid transparent;
                    border-#{$v}-style: solid;
                    border-#{$h}-style: solid;
                    #{$v}: -2.5rem;
                    #{$h}: 0;
                }
            }
        }
    }

    /* Clip path for browsers that are not IE */

    @supports (clip-path: polygon(0 0, 0 0, 0 0)) or (-webkit-clip-path: polygon(0 0, 0 0, 0 0)) {
        &::before {
            border: none;
            height: 2.5rem;
            width: 2.5rem;
        }

        &--top-left::before {
            @include clip(polygon(0 0, 100% 100%, 0 100%));
        }

        &--bottom-left::before {
            @include clip(polygon(0 0, 100% 0, 0 100%));
        }

        &--bottom-right::before {
            @include clip(polygon(0 0, 100% 0, 100% 100%));
        }

        &--light::before {
            background-color: $bubbleLightColor;
        }

        &--neutral::before {
            background-color: $baseColor;
        }

        &--dark::before {
            background-color: $bubbleDarkColor;
        }
    }
}


/* Lazy load elements, animated on page load
========================================================================== */


.lazy-load {
    opacity: 0;
    @include transform(translateY(2rem) scale(1.15));
    transform-origin: 50% 0;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.7, 1);

    /*
     * Show content when element is in viewport
     * and when user has disabled javascript in their browser
     */

     &--show,
     .no-js & {
         opacity: 1;
         @include transform(translateY(0) scale(1));
     }
}


/* Utilities
========================================================================== */


.u-text--bold {
    font-family: "Avenir Next Bold";
}


/* Backgrounds
========================================================================== */


.bg {
    &--light {
        background-color: $textLightColor;
    }

    &--neutral {
        background-color: $baseColor;
    }

    &--dark {
        background-color: $contrastColor;
        color: $textLightColor;
    }

    &--img {
        background-repeat: no-repeat;
        background-size: 100% auto;
        overflow: hidden;
        width: 100%;

        &-light {
            background-image: url("../images/triangle-light.svg");
            background-position: bottom right;
        }

        &-dark {
            background-image: url("../images/triangle-dark.svg");
            background-position: top right;
        }

        &-photo {
            background-image: url("../images/bg.jpg");
            background-position: center;
            background-size: cover;
            overflow: visible;
        }
    }
}
