/* ==========================================================================
 * ELEMENTS
 * Elements repeatable throughout the whole page
========================================================================== */




/* SVG sprites, icons
========================================================================== */


.icon {
    fill: $violet;
    height: 60px;
    max-width: 100%;
    width: auto;

    &__description {
        display: block;
        font-size: 1rem;
        line-height: 1.13;
        padding-top: 12px;
    }
}


/* Speech bubbles
========================================================================== */


.bubble {
    border-radius: 30px;
    box-sizing: border-box;
    font-family: $primaryFontBold;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 0 35px 0;
    padding: 15px 25px;

    @include respondTo(xxs) {
        max-width: 440px;
    }

    &--big {
        border-radius: 40px;
        max-width: 100%;
        padding: 30px 30px 20px 30px;
    }

    &__paragraph {
        font-family: $primaryFont;
        font-size: 1rem;
        line-height: 1.13;
    }

    &__link {
        background-color: $violet;
        border-radius: 12px;
        max-width: 147px;
        transition: background-color 0.2s;

        & + & {
            margin-left: 15px;
        }

        > svg {
            display: block;
            max-height: 50px;
            max-width: 100%;
        }

        &:focus,
        &:hover {
            background-color: $violetDarker;
            outline: none;
        }

        &:focus {
            box-shadow: 0 -3px 0 $turquoise,
                        0 3px 0 $turquoise,
                        3px 0 0 $turquoise,
                        -3px 0 0 $turquoise;
        }
    }

    &__header {
        margin-bottom: 10px;
    }
}


/*
 * Adds a tail to the element
 */


.tail {
    clear: both;
    position: relative;

    &::before {
        border-width: 40px;
        content: "";
        display: block;
        position: absolute;
    }

    /*
    * Iterating over all sides to create classes
    * for tails in each corner of the bubble
    */

    @each $v, $i in $sidesVertical {
        @each $h, $j in $sidesHorizontal {
            &--#{$v}-#{$h} {
                border-#{$v}-#{$h}-radius: 0;
                float: #{$h};

                /* Borders for older browsers */

                &::before {
                    background-image: linear-gradient(to #{$h}, rgba(0, 0, 0, 0.2), transparent);
                    border-#{$h}: 40px solid $violet;
                    border-#{$v}: 40px solid transparent;
                    border-#{$v}-style: solid;
                    border-#{$h}-style: solid;
                    #{$v}: -40px;
                    #{$h}: 0;
                }
            }
        }
    }

    /* Clip path for browsers that are not IE */

    @supports (clip-path: polygon(0 0, 0 0, 0 0)) or (-webkit-clip-path: polygon(0 0, 0 0, 0 0)) {
        &::before {
            border: none;
            height: 40px;
            width: 40px;
        }

        &--top-left {
            transform-origin: 0 0;

            &::before {
                @include clip(polygon(0 0, 40px 40px, 0 40px));
            }
        }

        &--bottom-left {
            transform-origin: 0 100%;

            &::before {
                @include clip(polygon(0 0, 40px 0, 0 40px));
            }
        }

        &--bottom-right {
            transform-origin: 100% 100%;

            &::before {
                @include clip(polygon(0 0, 40px 0, 40px 40px));
            }
        }

        &--light::before {
            background-color: $white;
        }

        &--neutral::before {
            background-color: $cream;
        }

        &--dark::before {
            background-color: $violet;
        }
    }
}


/* Lazy load elements, animated on page load
========================================================================== */


.lazy-load {
    opacity: 0;

    /*
     * Show content when element is in viewport
     * and when user has disabled javascript in their browser
     */

     &--show.bubble,
     .no-js & {
         animation: lazyLoad 0.75s linear 0s 1 normal both;
     }

     &--show.img__phone {
         animation: easeIntoView 1s cubic-bezier(0.2, 1, 0.7, 1) 0s 1 normal both;
     }
}


/* Utilities
========================================================================== */


.u-text--bold {
    font-family: $primaryFontBold;
}

/* Clearfix */

.u-clearfix {
    &::after {
        clear: both;
        content: "";
        display: block;
    }
}


/* Backgrounds
========================================================================== */


.bg {
    &--light {
        background-color: $white;
    }

    &--neutral {
        background-color: $cream;
    }

    &--dark {
        background-color: $violet;
        color: $white;
    }

    &--phone {
        background: url("../images/phone1.png") no-repeat center right / auto 100%;
        padding: 38px 0 215px 0;

        @include respondTo(xxs) {
            padding-bottom: 328px;
        }

        @include respondTo(xs) {
            padding-bottom: 428px;
        }

        @include respondTo(s) {
            padding-bottom: 528px;
        }
    }
}


/* Emojis
========================================================================== */


.emoji {
    background-image: url("../images/emoji-sprite.png");
    background-size: 100% 300%;
    display: inline-block;
    height: 30px;
    margin: 0 5px -5px 5px;
    width: 30px;

    & + & {
        margin-left: 0;
    }

    &--heart {
        background-position: 0 0;
    }

    &--thumbs-up {
        background-position: 0 100%;
    }

    &--sushi {
        background-position: 0 200%;
    }
}


/* List of messages
========================================================================== */


.message-list {
    &__item {
        &::after {
            clear: both;
            content: "";
            display: block;
        }
    }
}