/* ==========================================================================
 * FRAMEWORK
 * Main page layout
========================================================================== */




/* Classless elements
========================================================================== */


html {
    scroll-behavior: smooth;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: $baseColor;
    color: $textDarkColor;
    font: normal 100%/1 "Avenir Next", Arial, sans-serif;
    font-display: swap;
    text-rendering: optimizeLegibility;
}

a {
    color: inherit;
}

h1 {
    font-size: 4.06rem;
    margin-bottom: 0.3rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Avenir Next Bold";
}

p {
    line-height: 1.125rem;
    text-align: justify;
    text-align-last: left;
}


/* Content wrappers
========================================================================== */


.wrapper {
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
    width: 570px;

    &--big {
        width: 1000px;
    }

    &--fixed {
        position: fixed;
        width: 100%;
        z-index: 2;
    }
}

/* Flex conteners and their elements */

.flex {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &--centered {
        align-items: flex-start;
        justify-content: center;
        text-align: center;
    }

    &__item {
        max-width: 7.375rem;
    }

    &__spacer {
        font-family: "Volte";
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1;
        padding: 0 0 0 0;
    }
}


/* Website header
========================================================================== */


.header {
    border-radius: 0 0 1.0625rem 1.0625rem;
    font-size: 1.25rem;
    font-weight: bold;
    height: 3.75rem;
    padding: 0 1.5rem 0 0.625rem;

    &__button {
        background-color: $baseColor;
        border-radius: 1.0625rem;
        color: $textDarkColor;
        font-size: 1rem;
        padding: 0.625rem 1.625rem;
    }

    &__logo {
        height: 2.5rem;
        padding-right: 0.875rem;
    }

    &__title {
        color: $baseColor;
        line-height: 0.1rem;
    }
}


/* Main content
========================================================================== */


.intro {
    padding-top: 9.45rem;
    padding-bottom: 1.7rem;

    & .bubble:nth-child(3) {
        margin-top: 3.15rem;
    }

    & .bubble:nth-child(5) {
        margin-top: -0.15rem;
    }

    & .bubble:nth-child(6) {
        margin-top: 1.4rem;
    }
}


/* Hero content - image with app description
========================================================================== */


.hero {
    // height: 830px;
    height: 51.875rem;

    & .wrapper {
        position: relative;
    }

    &__logo {
        width: 14.89%;
    }

    &__header {
        font-size: 4.0625rem;
        line-height: 3.5625rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    &__paragraph {
        line-height: 1.875rem;
        text-align: left;
    }

    &__features {
        padding-bottom: 1.7rem;
        padding-top: 3rem;
    }

    &__secondary-text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
    }

    & .bubble {
        position: absolute;
        padding: 2rem 3.125rem 3.4375rem 3.125rem;

        &:nth-child(1) {
            max-width: 100%;
            padding-top: 10.625rem;
            top: 18.5rem;
        }

        &:nth-child(2) {
            bottom: -26.2rem;
            right: 0;
            padding-top: 2rem;
            padding-right: 3rem;
            padding-bottom: 1.8rem;

            &::after {
                content: "";
                clear: both;
                display: block;
            }
        }

        h2 {
            padding-bottom: 0.75rem;
        }
    }

    & .flex a:nth-child(2):last-child {
        margin-left: 1rem;
    }
}


/* Decorative content, images, phones
========================================================================== */


.img {
    &__phone {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        &--first {
            background-image: url("../images/phone1.png");
            float: right;
            height: 626px;
            margin-right: -0.46rem;
            margin-top: -6.8rem;
            width: 480px;
        }

        &--second {
            background-image: url("../images/phone2.png");
            height: 614px;
            left: 4.75rem;
            position: relative;
            top: -4.3125rem;
            width: 440px;
            z-index: 1;
        }
    }
}


/* Website footer
========================================================================== */


.footer {
    padding-top: 25.8125rem;
    text-align: center;
}


/* Pseudo elements and global element states
========================================================================== */


::-moz-selection { background: $accentColor }
     ::selection { background: $accentColor }


 /* Other
 ========================================================================== */


 .svg-sprites {
     display: none;
 }
