/* ==========================================================================
 * MASTER
 * Main CSS file
========================================================================== */




/* Variable definitions
========================================================================== */


/* Color variables  */

$cream: #eee6e4;
$creamDarker: #e4dad7;
$turquoise: #63FFD3;
$violet: #5B4663;
$violetDarker: #513F58;
$white: #FFFFFF;

/* Fonts */

$primaryFont: "Avenir Next", sans-serif;
$primaryFontBold: "Avenir Next Bold", sans-serif;

/* Other variables  */

$sidesHorizontal: ["left", "right"];
$sidesVertical: ["top", "bottom"];


/* Mixins
========================================================================== */


@mixin transform($param) {
    -webkit-transform: $param;
        -ms-transform: $param;
            transform: $param;
}

@mixin clip($param) {
    -webkit-clip-path: $param;
            clip-path: $param;
}


/* Animations
========================================================================== */


@keyframes lazyLoad {
  0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1 }
  52.15% { transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1 }
  63.26% { transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1 }
  85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1 }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1}
}


/* Fonts
========================================================================== */


@font-face {
    font-display: block;
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/AvenirNext-Regular.woff") format("woff"),
         url("../fonts/AvenirNext-Regular.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Avenir Next Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/AvenirNext-Bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/AvenirNext-Bold.woff") format("woff"),
         url("../fonts/AvenirNext-Bold.ttf") format("truetype");
}


/* Importing css files
========================================================================== */


@import "respond-to";
@import "reset";
@import "framework";
@import "elements";