/* ==========================================================================
 * MASTER
 * Main CSS file
========================================================================== */




/* Variable definitions
========================================================================== */


/* Color variables  */

$accentColor: #63ffd3;
$baseColor: #eee6e4;
$bubbleDarkColor: #5b4663;
$bubbleLightColor: #ffffff;
$contrastColor: #5b4663;
$textDarkColor: #5b4663;
$textLightColor: #ffffff;

/* Other variables  */

$sidesHorizontal: ["left", "right"];
$sidesVertical: ["top", "bottom"];


/* Mixins
========================================================================== */


@mixin transform($param) {
    -webkit-transform: $param;
        -ms-transform: $param;
            transform: $param;
}

@mixin clip($param) {
    -webkit-clip-path: $param;
            clip-path: $param;
}


/* Fonts
========================================================================== */


@font-face {
    font-display: swap;
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/AvenirNext-Regular.woff") format("woff"),
         url("../fonts/AvenirNext-Regular.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Avenir Next Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/AvenirNext-Bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/AvenirNext-Bold.woff") format("woff"),
         url("../fonts/AvenirNext-Bold.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Volte";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Volte.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Volte.woff") format("woff"),
         url("../fonts/Volte.ttf") format("truetype");
}


/* Importing css files
========================================================================== */


@import "reset";
@import "framework";
@import "elements";
